bayes/samples/*
figures/*.pdf
.Rproj.user
.Rhistory
.RData
bayes/tidy_curves.csv
bayes/tidy_parameters.csv
data/C1.trees
derived_files/curve_K.csv
.dropbox
..bfg-report
.Rproj.user
bayes/fitted_points_mod1.csv
bayes/fitted_points_mod2.csv
